@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animation-curve: cubic-bezier(1, 0, 0, 1);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,
h1,
h2,
h3,
h4,
h5 {
  /* margin: 0 !important; */
  /* padding: 0 !important; */
  line-height: 1;
}
header,
header * {
  transition: 0.4s ease-in-out;
}
.menu-list {
  position: relative;
  backdrop-filter: blur(32px);
}
.line {
  position: relative;
  margin-right: -2%;
  width: 90%;
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
}
.world {
  width: 954px !important;
  height: auto !important;
  top: auto !important;
  left: auto !important;
  right: 0 !important;
  bottom: -7% !important;
}
.world.star-mobile {
  bottom: 0 !important;
}
.bg-desktop,
.bg-mobile,
.bg-tablet {
  height: auto !important;
}
.space {
  top: auto !important;
  bottom: 0 !important;
}
/* Menu Icon */
label {
  width: 21px;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  cursor: pointer;
}
label::before,
label::after {
  content: "";
  width: 21px;
  height: 3px;
  background-color: white;
  position: absolute;
  display: block;
  color: white;
  transition: all 0.6s var(--animation-curve);
}
label::before {
  top: -250%;
  left: 0%;
  transform: rotateZ(0deg);
  transform-origin: left top;
}
label::after {
  bottom: -255%;
  left: 0%;
  transform: rotateZ(0deg);
  transform-origin: left bottom;
}

#toggle:checked ~ label::before {
  content: "";
  background-color: #fff;
  transform: rotateZ(41deg);
  left: 10%;
}

#toggle:checked ~ label::after {
  content: "";
  background-color: #fff;
  transform: rotateZ(-41deg);
  left: 10%;
  top: 160%;
}

#toggle:checked ~ label {
  background-color: #000;
}

#toggle ~ label {
  transition: all 0.5s var(--animation-curve);
}

input {
  display: none;
}
@media (max-width: 990.98px) {
  .main-content {
    flex-direction: column;
  }
  .main-content * {
    text-align: center;
  }
}
@media (max-width: 768.98px) {
  /* .menu-list .menu-item span, */
  .line {
    display: none;
  }
}
@media (max-width: 576.98px) {
  .menu-list {
    position: absolute !important;
    top: 0;
    right: 0;
  }
}
